<table border=0 width=450><tr><td align="center"> 
<map name="mapa1"> 
<area alt="1" shape="CIRCLE" coords="859,277,20" href="/balizas/plantilla/25720"> 
<area alt="2" shape="CIRCLE" coords="1032,263,20" href="/balizas/plantilla/25740"> 
<area alt="3" shape="CIRCLE" coords="805,347,20" href="/balizas/plantilla/25721"> 
<area alt="4" shape="CIRCLE" coords="950,400,20" href="/balizas/plantilla/25774"> 
<area alt="5" shape="CIRCLE" coords="908,376,20" href="/balizas/plantilla/25761"> 
<area alt="6" shape="CIRCLE" coords="744,530,20" href="/balizas/plantilla/25765"> 
<area alt="7" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="8" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="9" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="10" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="11" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="12" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="13" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="14" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="15" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="16" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="17" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="18" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="19" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="20" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="21" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="22" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="23" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="24" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="25" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="26" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="27" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="28" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="29" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="30" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 

<area alt="6" shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area shape="CIRCLE" coords="839,286,20" href="/balizas/plantilla/25720"> 
<area alt="26000" shape="CIRCLE" coords="558,69,20" href="/balizas/plantilla/26047"> 

</map> 
<img src="/img/3sagunto.jpg"  alt="Mapa de imágenes. Pulsa en cada una de los círculos." border="0" usemap="#mapa1"> 
<br> 
</td></tr></table>