body {
  color: antiquewhite;
  background: rgb(49, 62, 49);
}

#map {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

input{
  display: none;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mapa{
  border-radius: 1em;
  border:2px solid rgb(28, 37, 34);
}
