body{
    background: #bec2be;
    font-family: sans-serif;
}
#simulacionLuz{
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border:1px solid rgb(76, 75, 75);
  border-radius: 50%;
}

#luz{
  width: 40px;
  height: 40px;
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
  display: block;
  z-index:100;
  margin: 0 auto;

}
.listado tr:hover, .listado tr:hover a{
  background-color: rgb(98, 150, 234);
  color:whitesmoke;
  text-decoration: none;
}

.index{
    width: 100vw;
    height: 100vh;
}
a{
  text-decoration: none;
  color:black;
}

.miCarrusel img{
 max-height: 400px;
  
  border-radius: 10px;
}
.foto{
  height: 200px;
  width: 200px;
  border: 1px solid black;
 
}
.uno{
  background-color: rgb(174, 116, 148);
}
.dos{
  background-color: rgb(111, 136, 129);
}
.tres{
  background-color: rgb(202, 202, 241);
}

.fondo{
   /*   color: rgba(24, 59, 214, 0.182); */
    min-height: 30rem; 
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    background: linear-gradient(rgba(121, 151, 179, 0.6), rgba(166, 188, 218, 0.6)), url('/img/bg.jpg');
   /*  background: url('/img/bg.jpg') no-repeat center center; */
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.avatar {
  border: 1px solid rgb(26, 53, 255);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#formularioBusqueda{
  padding: 5px;
  height: 60px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 10px;
}
select{
  text-align-last:center;
}

.avatar-s{
  height: 64px;
  width: 64px;
}

.avatar-m{
  height: 96px;
  width: 96px;
}

.avatar-l{
  height: 128px;
  width: 128px;
}
.footer {
    margin:0px;
    padding: 0px;
    height: 40px;
    color: white; 
  }
  
  .footer div{
    margin: 0px 10px;
  }
  
  .footer p{
    margin:0px;
  }
  
  .footer a {
    margin:5px;
    height: 40px;
    color: white ; 
  }
  .copyleft {
    display: inline-block;
    transform: rotate(180deg);
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  .centrado{
    text-align: center;
  }
    /* The Close Button */
  .close {
    color: #4d4d4d;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
 


@media (min-width: 992px){

}