<!-- CUERPO -->
<div class="container-fluid">
    <!-- id="cuerpo" -->
    <a href="/preventivoUpload" class="btn btn-primary">AÑADIR DOCUMENTO</a>
    <h1 class="col-10 mx-auto text-center">LISTADO DOCUMENTOS</h1>
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="table-responsive">
                {{#each docs}}
                <p>
                    <a href="/informes/{{this}}" target="_blank"> {{this}}</a>
                </p>
                {{/each}}
            </div>
        </div>
    </div>
</div>